<footer>
  <p class="copyright">
    <i class="fas fa-solid fa-copyright"></i>
    Copyright 2009, Bản quyền thuộc về Baodeptry03
  </p>
  <p class="contact">Mọi chi tiết xin liên hệ
    <i>
      fb: Baodeptry03
    </i>

    để biết thêm chi tiết</p>
</footer>