@charset "UTF-8";
.header {
  display: flex;
  justify-content: space-between; /* Canh giữa các phần tử theo chiều ngang */
  align-items: center; /* Canh giữa các phần tử theo chiều dọc */
  gap: 10px;
}
.logo-be {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.right-content {
  margin-top: 5px;
  display: flex; /* Hiển thị các phần tử con theo chiều ngang */
  align-items: center; /* Canh giữa các phần tử con theo chiều dọc */
}
.fa-regular {
  font-size: 10px;
}