<div class="header">
  <p class="left-content">
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
    Ưu đãi của tôi
  </p>
  <div class="right-content">
    <img
      class="logo-be"
      src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/329829804_233995009059549_3075749042647230910_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=fuA-_cn5obkAX_JTWUM&_nc_ht=scontent.fsgn2-6.fna&oh=03_AdQg5-IdH0pS-miUrz5cRbXs_R-fq_zKcVgQJVTJl9DOGg&oe=648D6E9D"
      alt=""
    />
    <div class="quantity">
      630
    </div>
  </div>
</div>
<div class="container">

  <div class="banner">
    <p class="banner-title banner-select">
      BELOYALTY
    </p>
    <p class="banner-title">
      ĐẶT XE
    </p>
    <p class="banner-title">
      GIAO HÀNG
    </p>
    <p class="banner-title">
      VÉ MÁY BAY
    </p>
    <p class="banner-title">
      ĐỒ ĂN
    </p>
  </div>

  <div class="item">
    <div class="item-header">

      <div class="item-title">
        Tặng 2 chai trà tự nhiên TH true TEA
      </div>
      <img
        class="item-img"
        src="https://quanlydoitac.viettel.vn/files/qldt/public/partner/logo/2021/10/5/f67fbd12-bb73-4267-b269-2a3d6c122db3.jpg"
        alt=""
      />
    </div>
    <div class="item-content">
      <div class="item-content-title">
        Sử dụng đến 23:59:59 31-05-2023
      </div>
      <button class="btn item-content-button">
        Xem
      </button>
    </div>
  </div>
  <div class="item">
    <div class="item-header">

      <div class="item-title">
        Tặng 2 chai trà tự nhiên TH true TEA
      </div>
      <img
        class="item-img"
        src="https://quanlydoitac.viettel.vn/files/qldt/public/partner/logo/2021/10/5/f67fbd12-bb73-4267-b269-2a3d6c122db3.jpg"
        alt=""
      />
    </div>
    <div class="item-content">
      <div class="item-content-title">
        Sử dụng đến 23:59:59 31-05-2023
      </div>
      <button class="btn item-content-button">
        Xem
      </button>
    </div>
  </div>
  <div class="item">
    <div class="item-header">

      <div class="item-title">
        Tặng 2 chai trà tự nhiên TH true TEA
      </div>
      <img
        class="item-img"
        src="https://quanlydoitac.viettel.vn/files/qldt/public/partner/logo/2021/10/5/f67fbd12-bb73-4267-b269-2a3d6c122db3.jpg"
        alt=""
      />
    </div>
    <div class="item-content">
      <div class="item-content-title">
        Sử dụng đến 23:59:59 31-05-2023
      </div>
      <button class="btn item-content-button">
        Xem
      </button>
    </div>
  </div>
  <div class="item">
    <div class="item-header">

      <div class="item-title">
        Tặng 2 chai trà tự nhiên TH true TEA
      </div>
      <img
        class="item-img"
        src="https://quanlydoitac.viettel.vn/files/qldt/public/partner/logo/2021/10/5/f67fbd12-bb73-4267-b269-2a3d6c122db3.jpg"
        alt=""
      />
    </div>
    <div class="item-content">
      <div class="item-content-title">
        Sử dụng đến 23:59:59 31-05-2023
      </div>
      <button class="btn item-content-button">
        Xem
      </button>
    </div>
  </div>
  <div class="item">
    <div class="item-header">

      <div class="item-title">
        Tặng 2 chai trà tự nhiên TH true TEA
      </div>
      <img
        class="item-img"
        src="https://quanlydoitac.viettel.vn/files/qldt/public/partner/logo/2021/10/5/f67fbd12-bb73-4267-b269-2a3d6c122db3.jpg"
        alt=""
      />
    </div>
    <div class="item-content">
      <div class="item-content-title">
        Sử dụng đến 23:59:59 31-05-2023
      </div>
      <button class="btn item-content-button">
        Xem
      </button>
    </div>
  </div>
  <div class="item">
    <div class="item-header">

      <div class="item-title">
        Tặng 2 chai trà tự nhiên TH true TEA
      </div>
      <img
        class="item-img"
        src="https://quanlydoitac.viettel.vn/files/qldt/public/partner/logo/2021/10/5/f67fbd12-bb73-4267-b269-2a3d6c122db3.jpg"
        alt=""
      />
    </div>
    <div class="item-content">
      <div class="item-content-title">
        Sử dụng đến 23:59:59 31-05-2023
      </div>
      <button class="btn item-content-button">
        Xem
      </button>
    </div>
  </div>
</div>