<div class="header">
  <p class="left-content">
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
    Ưu đãi của tôi
  </p>
  <div class="right-content">
    <img
      class="logo-be"
      src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/329829804_233995009059549_3075749042647230910_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=fuA-_cn5obkAX_JTWUM&_nc_ht=scontent.fsgn2-6.fna&oh=03_AdQg5-IdH0pS-miUrz5cRbXs_R-fq_zKcVgQJVTJl9DOGg&oe=648D6E9D"
      alt=""
    />
    <div>
      630
    </div>
  </div>
</div>
<div class="container">

  <div class="banner">
    <p class="banner-title">
      BELOYALTY
    </p>
    <p class="banner-title">
      ĐẶT XE
    </p>
    <p class="banner-title">
      GIAO HÀNG
    </p>
    <p class="banner-title">
      VÉ MFGMB
    </p>
    <p class="banner-title">
      VÉ MÁY BAY
    </p>
  </div>

  <div class="item">
    <div class="item-title">
      Tặng 2 chai trà tự nhiên TH true TEA
    </div>
    <img
      class="item-img"
      src="https://inkythuatso.com/uploads/images/2021/11/logo-th-true-milk-inkythuatso-01-18-14-43-44.jpg"
      alt=""
    />
  </div>
</div>