<div class="header">
  <p>
    Ưu đãi của tôi
  </p>
  <div>
    <img
      class="logo-be"
      src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fplay-lh.googleusercontent.com%2Fy_B8bi4A5F33FbifDNGNmtKgFPShe57-zvEpPDNLBZ_8Yg40ZRYBFr5WuhWi-8KQeA&tbnid=Ewbl5ol7x2e5_M&vet=12ahUKEwjGtuGJ9_3-AhX0pVYBHRB5CkgQMygAegUIARCQAQ..i&imgrefurl=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dxyz.be.customer%26hl%3Dvi&docid=OvuRiJHsPSkGtM&w=512&h=512&q=be&ved=2ahUKEwjGtuGJ9_3-AhX0pVYBHRB5CkgQMygAegUIARCQAQ"
      alt=""
    />
    630
  </div>
</div>